@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    #139/26, 2nd Floor, Solitaire, <br/>
    Koramangala Intermediate Ring Road, <br />
    Amarjyothi Layout, Domlur, <br />
    Bengaluru, Karnataka-560071
    <abbr title="Phone">P:</abbr>
    080678 00900
</address>

<address>
    <strong>Support:</strong>   <a href="preeth.pt@saggezza.com">preeth.pt@saggezza.com</a><br />
</address>